In [1]:
import pandas as pd

train_data = pd.read_csv('Training-set.csv')

train_data.tail(4)

        id          a          b         c  t
6992  6992   2.441507   5.965260  0.283461  0
6993  6993  -4.119043  -4.712212  1.907223  1
6994  6994 -20.676163  19.494256 -0.158034  1
6995  6995  -0.321047   8.765018  0.765010  1

In [3]:
def getAvg(row):
    return Avg(row['a'],row['b'],row['c'])

df["avg"] = pd.apply(lambda row:getAvg(row), axis = 1)

AttributeError: module 'pandas' has no attribute 'apply'